body{
    font-family:Arial, Helvetica, sans-serif;
    background-color:rgb(249, 222, 180);
    margin:0;
    padding:0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.open-popup{
    display: inline-block;
    padding:20px 40px;
    background-color:#B08330;
    color:#fff;
    text-decoration: none;/*Remove link underline*/
    border-radius: 5px;
    margin:20px;
}
